body
{
    font-family: serif;
    font-weight: 300;
    font-size: 1.4rem;
    background: #232526;
    background: -webkit-linear-gradient(to left, #232526, #414345);
    background: linear-gradient(to left, #232526, #414345);
    color: #fff;
    text-align: center;
}

h1, h2
{
    font-weight: 300;
}